@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #e2e8f0;
  padding: 0.5rem;
}
